---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
1. “My dear,
In the midst of hate, I found there was, within me, an invincible love.
In the midst of tears, I found there was, within me, an invincible smile.
In the midst of chaos, I found there was, within me, an invincible calm.
I realized, through it all, that…
In the midst of winter, I found there was, within me, an invincible summer.
And that makes me happy. For it says that no matter how hard the world pushes against me, within me, there’s something stronger – something better, pushing right back.
Truly yours,
- Albert Camus”

2. “I don't have to chase extraordinary moments to find happiness 
- it's right in front of me if I'm paying attention and practicing gratitude.” 
― Brené Brown

3. “We travel, initially, to lose ourselves; and we travel, next to find ourselves. 
We travel to open our hearts and eyes and learn more about the world than our newspapers will accommodate.
We travel to bring what little we can, in our ignorance and knowledge, to those parts of the globe whose riches are differently dispersed.
And we travel, in essence, to become young fools again- to slow time down and get taken in, and fall in love once more.”
― Pico Iyer

4. “It is not the mountain we conquer, but ourselves”
―  Edmund Hillary 

5. “Between stimulus and response there is a space. In that space is our power to choose our response. 
In our response lies our growth and our freedom.”
― Viktor E. Frankl

6. “Obstruction lies in the imprisonment of life and of the soul within all kinds of artificial limitations and boundaries, social, physical, economic and psychological, 
thus denying to ourselves the chance to achieve our fullest potential, our perfect selfhood.
When we break through the obstructions set up by the fearful and the possessive self we find a new freedom to communicate with others, 
but, mote important still, freedom to come into more intimate touch with an infinite personality, with God.
Sin is that which obstructs us in gaining our ultimate end, the fullest possible union with the universe around us and with all the people in it. 
We lose money, we are too occupied with the mainly material concerns of this life. We worry to death. This is a mistake, just as when, by breaking 
the laws of health or by eating or drinking of worrying too much, we suffer pain and the isolation of the sickroom. 
Sin is that barrier by which we are so isolated as to be hampered in reaching our ultimate end,
the realisation of the supremacy of truth through love.
Inordinate desire, passion, hatred and jealousy are the greatest of hindrances, for they all accentuate the separate and isolated life of the self. 
The one great faculty of the soul is sympathy or love.”
- Rabindranath Tagore

7. You don't have to be a hero to accomplish great things---to compete. You can just be an ordinary chap, 
sufficiently motivated to reach challenging goals.
-Edmund Hillary

8. "Truth is God"
"Freedom is like birth."
"Ahimsha is the strongest force known."
"In a gentle way, you can shake the world."
"Satyagraha is gentle; it never wounds."
"Swaraj is the abandonment of the fear of death."
"A Satyagrahi bids goodbye to fear."
"Bravery is not a quality of the body; it is of the soul."
"The best way to find yourself is to lose yourself in the service of others."
"The greatness of humanity is not in being human, but in being humane."
"The weak can never forgive. Forgiveness is the attribute of the strong."
"Strength does not come from physical capacity. It comes from an indomitable will." 
"Satyagraha is a relentless search for truth and a determination to search for truth."
"I object to violence because when it appears to do good, the good is only temporary; the evil it does is permanent."
– Mahatma Gandhi

9. I have always believed, and I still believe, that whatever good or bad fortune may come our way we can always give 
it meaning and transform it into something of value.
Hermann Hesse, Siddhartha

10“Sometimes fate is like a small sandstorm that keeps changing directions. You change direction but the sandstorm chases you. 
You turn again, but the storm adjusts. Over and over you play this out, like some ominous dance with death just before dawn.
Why? Because this storm isn't something that blew in from far away, something that has nothing to do with you. This storm is you.
Something inside of you. So all you can do is give in to it, step right inside the storm, closing your eyes and plugging up your
ears so the sand doesn't get in, and walk through it, step by step. There's no sun there, no moon, no direction, no sense of time.
Just fine white sand swirling up into the sky like pulverized bones. That's the kind of sandstorm you need to imagine.
And you really will have to make it through that violent, metaphysical, symbolic storm. No matter how metaphysical or symbolic it might be,
make no mistake about it: it will cut through flesh like a thousand razor blades. People will bleed there, and you will bleed too.
Hot, red blood. You'll catch that blood in your hands, your own blood and the blood of others.
And once the storm is over you won't remember how you made it through, how you managed to survive. You won't even be sure, in fact, 
whether the storm is really over. But one thing is certain. When you come out of the storm you won't be the same person who walked in. 
That's what this storm's all about.”
― Haruki Murakami, Kafka on the Shore






#{% include base_path %}
#{% capture written_year %}'None'{% endcapture %}
#{% for post in site.posts %}
#  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
#  {% if year != written_year %}
#    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
#    {% capture written_year %}{{ year }}{% endcapture %}
#  {% endif %}
#  {% include archive-single.html %}
#{% endfor %}
